*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 100%;
    background: url(assets/hero-bg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    
}
a{
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 0;
    margin-top: 5rem;
}
.hero{
  
  text-align: center;
  width: 60%;
  max-width: 968px;
  margin-top: 8rem;
  
}
.hero h2, .hero p{
    color: rgb(66, 66, 66);
}
.hero p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero h2{
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3rem;
    font-size: 38px;
}
.hero a{
    color: #e7332b;
    text-decoration: none;
}
.hero button{
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 400;
    margin: 0.5rem;
    
}
.btn-red{
    color: #fff;
    background: #e7332b;
    margin-right: 0.8rem;
    border: 1px solid #e7332b;
}
.btn-outline{
    background: #fff;
    color: #e7332b;
    border: 1px solid #e7332b;
    gap: 10;
  
}
.btn-div{
    width: 100%;
    margin-top: 4rem;
}
@media screen and (max-width:768px){
    .hero {
width: 100%;
    }
    .logo{
        margin-top: 7rem;
    }
    .hero h2{
        margin-bottom: 3rem;
    }
    .hero p{
        margin-bottom: 5rem;
        margin: 0 0.3rem;
    }
    .btn-div{
        width: 100%;
    }
    .btn-red{
        margin-bottom: 0;
    }

}





.head{
text-align: center;
margin-bottom: 5rem;
margin-top: 5rem;
}
.heading{
    color: #e7332b;
    margin-bottom: 0.5rem;
    font-size: 16px;
}
.slogan{
    letter-spacing: 0.7;
    font-size: 25px;
    color: #333;
}
.container{
    width: 100%;
}

.cards{
    display: flex;
}
.card{
    
    margin: 2rem 0;
    width: 422px;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: #f8e7e7;
    outline: none;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.content{
    margin-top: 3rem;
    color: rgb(66, 66, 66);
    font-size: 18px;
text-align: center;
padding: 0 1rem;
}
.content h3{
margin-top: 2rem;
}
.content a{
    text-decoration: none;
    color: #e7332b;
    font-size: 17px;
}
@media screen and (max-width:966px){
    .cards{
        display: flex;
      flex-direction: column;
    }
}
.footer{
    width: 100%;
    margin-top: 7rem;
    padding-top: 5rem;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 2rem;
}
.footer a{
    text-decoration: none;
    color: #e7332b;
}
.line{
    padding-bottom: 3rem;
}
.contact-icons img{
    width: 23px;
}
.copyright{
    margin-bottom: 8rem;
    text-align: center;
    color: rgb(66, 66, 66);
    font-weight: 600;
}
.address h3, .flex-3 h3, .flex-5 h3{
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 18px;
}
.address p{
    font-weight: 400;
    color: rgb(66, 66, 66);
    font-size: 16px;
}
@media screen and(max-width:768px){
    .footer-container{
      margin: none;
      text-align: center;
    }
}